<!DOCTYPE html>
<html>
<head>
    <title>Lenovo Day '25 - Успех!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <img src="/lenovo-logo.svg" alt="Lenovo Logo" class="logo">
    </header>
    <div class="container">
        <h1 class="animated-title">Lenovo Day '25</h1>
        <p class="success-text animated-fade">Поздравляем, <%= name %>!</p>
    </div>
</body>
</html>